<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos de Márgenes y Relleno en CSS</title>
    <link rel="stylesheet" href="../src/css/margin.css">
</head>
<body>
    <h1>Ejemplos de Márgenes y Relleno en CSS</h1>

    <div class="box margin-px">
        <p>Márgen en `px` (20px)</p>
    </div>

    <div class="box margin-pt">
        <p>Márgen en `pt` (15pt)</p>
    </div>

    <div class="box margin-cm">
        <p>Márgen en `cm` (1cm)</p>
    </div>

    <div class="box margin-percent">
        <p>Márgen en `%` (10%)</p>
    </div>

    <div class="box2 margin-padding">
        <p>Este es un ejemplo que muestra la diferencia entre `margin` y `padding`.</p>
    </div>

</body>
</html>